<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Kidney Stone</title>
  </head>
  <body>
    <header>
      <div class="bg-light p-5 rounded-lg">
        <div class="container">
          <h1 class="display-2">Kidney Stone Of Truth</h1>
          <p class="lead">Fact check your myths about Kidney Stones</p>
        </div></div>
    </header>
    <div class="container">
      <!-- Controversiality score -->
      <div class="row mx-2 mt-5">
        <div class="card">
          <div class="card-body row align-items-center">
            <span class="col-3 hyphens">Result:</span>

            <div
              class="card col-9 text-center"
              style="background-color: {{ controversiality_color }}"
            >
              <div
                class="card-body py-1 text-{{ controversiality_text_color }}"
              >
                {{ controversiality_text }}
              </div>
            </div>
          </div>

          <div class="card-body row">
            <span class="col-3">Confidence score: </span>
            <div class="col-9 bg-light rounded px-0 overflow-hidden">
              <div
                class="bg-info h-100 py-1 text-center text-white"
                style="width: {{ controversiality_score }}%;"
              >
                {{ controversiality_score }}%
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Resources -->
      <div class="row mt-3">
        <h3 class="text-center">Resources</h3>
      </div>

      <div class="row card-deck justify-content-around">
        {{ resource_cards | safe }}
      </div>
    </div>
  </body>
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
  ></script>
</html>
