<div class="card m-2 shadow resource-card" style="max-width: 400px; max-height: 400px;">
  
  <div 
  class="card-body mb-2 row" 
  style="
    max-height: 1em;
    opacity: 70%;
  ">
    <div class="col-5">
      <div class="col-12 rounded text-nowrap py-1 pl-0 w-100 h-100 text-center text-{{ resource_card_controversiality_text_color }}"
      style="
        background-color: {{ resource_card_controversiality_color }};
        font-size: 0.8em;
      ">
        {{ resource_card_controversiality_text }}
      </div>
    </div>
    <div class="col-7 bg-light rounded px-0 overflow-hidden">
      <div
        class="h-100 py-1 text-center text-nowrap"
        style="
          width: {{ resource_card_controversiality_score }}%;
          background: lightgrey;
          font-size: 0.8em;
          "
      >
        
        {{ resource_card_controversiality_score }}% Confidence
      </div>
    </div>
  </div>

  <div class="card-body d-flex flex-column">

    <h4 class="card-title" 
    style="
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    ">{{ resource_card_title }}</h4>
    <p class="card-text"
    style="
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    ">{{ resource_card_text }}</p>


    <!-- button -->
    <a href="{{ resource_card_link }}" class="btn btn-primary stretched-link mt-auto"
      >Read More</a
    >
  </div>
</div>

<style>
.resource-card {
  transition: transform .3s ease-in-out;
}
.resource-card:hover {
  transform: scale(1.02);
}
</style>

